button.view-product-button {
    padding: 10px;
    background-color: rgb(79, 160, 187);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.15rem;
    border-radius: 5px;
    cursor: pointer;
}

button.view-product-button {
    
    &:hover {
        background-color: rgb(111, 79, 187);
        color: white;
    }
}